body{
    background-color: hotpink;
    background-image: url("https://jlaw21.github.io/Resources/mario.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-attachment: fixed;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    text-shadow: 10px 10px 2px purple
}

header{
    background-color: rgb(245, 27, 77);
    font-family: 'Kosugi Maru', cursive;
    font-size: 130%;
    padding-left: 10px 20px 10px 20px;
    border-top: 10px double purple;
    border-bottom: 10px double purple;
    margin: 0 0 25px 0;
}

section{
    background-color: crimson;
}

section header{
    color: #b7aefa;
    line-height: 2em;
    text-indent: 3px;
}

aside{
    background-color: #a01bfa;
}

footer{
    background-color: rgb(212, 57, 57);
    text-shadow: 5px 5 px 1px purple;
}

nav{
    background-color: #0a9ff4;
    background-image: url("https://jlaw21.github.io/Resources/mario-pipe.png");
    background-size: contain;
    /*border: 10px solid transparent;
    border-image: url("https://jlaw21.github.io/Resources/mario-bricks.PNG") 30% round;*/
    border: 10px dotted violet;
    border-radius: 100px;
    text-align: center;
    width: 80%;
    height: 300px;
    margin: auto;
    
}

a{
    text-decoration: none;
}

h3{
    color: antiquewhite;
    font-size: 1.3em;
    font-style: oblique;
}

p{
    text-align: center;
    line-height: 1.6 em;
    text-shadow: 5px 5px 2px black;
    letter-spacing: .1em;
    word-spacing: .2em;
}

p, li{
    font: small-caps 2em 'PT Sans', monospace;
}